<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/static/js/jquery-1.7.1.min.js"></script>
    <style>
        .digits {
            display: inline-block;
            height: 20px;
            margin-left: 10px;
            margin-right: 10px;
        }

        .digits i {
            background: url(/static/images/numbers.png) no-repeat;
            display: inline-block;
            float: left;
            height: 30px;
            width: 18px;
        }

        .digits b {
            background: url(/static/images/numbers.png) no-repeat 0 -398px;
            display: inline-block;
            float: left;
            height: 30px;
            width: 10px;
        }
    </style>
</head>
<body>

<p>当前时间:<span id="now"></span></p>
<p>开始时间:<span id="start_time"></span></p>
<p>持续时间:<span id="year" class="digits"></span>年<span id="day" class="digits"></span>日<span id="hour" class="digits"></span>时<span id="minute" class="digits"></span>分<span id="second" class="digits"></span>秒</p>

<script>
    function setNumber(dom, number) {
        var n = String(number), len = n.length;

        //如果新的数字短于当前的，要移除多余的i
        if (dom.find("i").length > len) {
            dom.find("i:gt(" + (len - 1) + ")").remove();
        }

        //移除千分位分隔符
        dom.find("b").remove();

        //开始填充每一位
        for (var i = 0; i < len; ++i) {
            //位数不足要补
            if (dom.find("i").length < len) {
                dom.append("<i></i>");
            }

            var obj = dom.find("i").eq(i);
            var y = -40 * parseInt(n.charAt(i), 10);

            //加分隔符
            if (i < len - 1 && (len - i - 1) % 3 == 0)
                $("<b></b>").insertAfter(obj);

            //利用动画变换数字
            obj.animate({backgroundPositionY: y + "px"}, 350);
        }
    };

    /**
     * 对Date的扩展，将 Date 转化为指定格式的String
     * 月(M)、日(d)、12小时(h)、24小时(H)、分(m)、秒(s)、周(E)、季度(q) 可以用 1-2 个占位符
     * 年(y)可以用 1-4 个占位符，毫秒(S)只能用 1 个占位符(是 1-3 位的数字)
     * eg:
     * (new Date()).pattern("yyyy-MM-dd hh:mm:ss.S") ==> 2006-07-02 08:09:04.423
     * (new Date()).pattern("yyyy-MM-dd E HH:mm:ss") ==> 2009-03-10 二 20:09:04
     * (new Date()).pattern("yyyy-MM-dd EE hh:mm:ss") ==> 2009-03-10 周二 08:09:04
     * (new Date()).pattern("yyyy-MM-dd EEE hh:mm:ss") ==> 2009-03-10 星期二 08:09:04
     * (new Date()).pattern("yyyy-M-d h:m:s.S") ==> 2006-7-2 8:9:4.18
     */
    Date.prototype.Format = function (fmt) {
        var o = {
            "M+": this.getMonth() + 1, //月份
            "d+": this.getDate(), //日
            "h+": this.getHours() % 12 == 0 ? 12 : this.getHours() % 12, //小时
            "H+": this.getHours(), //小时
            "m+": this.getMinutes(), //分
            "s+": this.getSeconds(), //秒
            "q+": Math.floor((this.getMonth() + 3) / 3), //季度
            "S": this.getMilliseconds() //毫秒
        };
        var week = {
            "0": "/u65e5",
            "1": "/u4e00",
            "2": "/u4e8c",
            "3": "/u4e09",
            "4": "/u56db",
            "5": "/u4e94",
            "6": "/u516d"
        };
        if (/(y+)/.test(fmt)) {
            fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
        }
        if (/(E+)/.test(fmt)) {
            fmt = fmt.replace(RegExp.$1, ((RegExp.$1.length > 1) ? (RegExp.$1.length > 2 ? "/u661f/u671f" : "/u5468") : "") + week[this.getDay() + ""]);
        }
        for (var k in o) {
            if (new RegExp("(" + k + ")").test(fmt)) {
                fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
            }
        }
        return fmt;
    };


    $(document).ready(
        $.get('http://127.0.0.1:8000/test/', function (data, status) {
            if (status != "success") {
                alert("status:" + status);
            } else {
                var js = JSON.parse(data);
                var start = js.timestamp;
                setInterval(function () {
                    var now = new Date();
                    var start_time = new Date();
                    start_time.setTime(start);
                    var diff = get_diff_time(start_time, now);
                    $("#now").html(now.Format("yyyy-MM-dd HH:mm:ss"));
                    $("#start_time").html(start_time.Format("yyyy-MM-dd HH:mm:ss"));
                    setNumber($("#year"), diff[0]);
                    setNumber($("#day"), diff[1]);
                    setNumber($("#hour"), diff[2]);
                    setNumber($("#minute"), diff[3]);
                    setNumber($("#second"), diff[4]);
                }, 1000);
            }
        })
    );


    function get_diff_time(start, end) {
        var diff = end - start;
        var year = Math.floor(diff / (24 * 3600 * 1000 * 365));
        diff = Math.round(diff % (24 * 3600 * 1000 * 365));
        var day = Math.floor(diff / (24 * 3600 * 1000));
        diff = Math.round(diff % (3600 * 1000 * 24));
        var hour = Math.floor(diff / (1000 * 3600));
        diff = Math.round(diff % (1000 * 3600));
        var minute = Math.floor(diff / (60 * 1000));
        diff = Math.round(diff % (60 * 1000));
        var second = Math.floor(diff / 1000);
        return new Array(year, day, hour, minute, second)
    }

</script>
</body>
</html>
